<!doctype html>
<title>{% block title %}{% endblock %} - Car owners project</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>Car owners project</h1>
  <ul>
      <li><a href="">Show users</a>
      <li><a href="">Add user</a>
      <li><a href="">Show vehicles</a>
      <li><a href="">Add vehicle</a>
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>