{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add vehicle{% endblock %}</h1>
{% endblock %}
{% block content %}
  <h2>We are going to add vehicle</h2>
  <br/>
  <form method='POST'>
    {{ vehicle_form.hidden_tag() }}

    {{ vehicle_form.owners.label }}
    {{ vehicle_form.owners() }}
    <br/>
    {{ vehicle_form.vin_number.label }}
    {{ vehicle_form.vin_number() }}
    <br/>
    {{ vehicle_form.brand.label }}
    {{ vehicle_form.brand() }}
    <br/>
    {{ vehicle_form.model.label }}
    {{ vehicle_form.model() }}
    <br/>
    {{ vehicle_form.color.label }}
    {{ vehicle_form.color() }}
    <br/>
    {{ vehicle_form.date_of_build.label }}
    {{ vehicle_form.date_of_build() }}
    <br/>
    {{ vehicle_form.submit() }}
  </form>
{% endblock %}