{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Show vehicle saved files{% endblock %}</h1>
{% endblock %}
{% block content %}
  <h2>We are going to show vehicle files for vehicle {{ vehicle.model }} {{ vehicle.brand }} (with id {{ vehicle.vehicle_id }})</h2>

  File id | File name | Additional text (description) abut file | Creation date | File mime type | File content length | Actions
  <br/>
  {% for vehicle_file in vehicle_files %}
    {{ vehicle_file.id }} | {{ vehicle_file.file_name }} | {{ vehicle_file.additional_text }} | {{ vehicle_file.creation_date }} | {{ vehicle_file.file_mime_type }} | {{ vehicle_file.file_content_length }} | <a href="{{ url_for('bp_vehicle.download_file', file_id=vehicle_file.id) }}"><span>download file</span></a>
    <br/>
  {% endfor %}
{% endblock %}
