{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Upload vehicle file{% endblock %}</h1>
{% endblock %}
{% block content %}
  <h2>We are going to upload vehicle file</h2>
  <br/>
  <form method='POST' enctype="multipart/form-data">
    {{ vehicle_file_form.hidden_tag() }}
    <br/>
    {{ vehicle_file_form.vehicle_file.label }}
    {{ vehicle_file_form.vehicle_file() }}
    <br/>
    {{ vehicle_file_form.additional_description.label }}
    {{ vehicle_file_form.additional_description() }}
      <br/>
    {{ vehicle_file_form.submit() }}
  </form>
{% endblock %}
